@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

@layer utilities {
  .animation-delay-150 {
    animation-delay: 150ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-450 {
    animation-delay: 450ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
}

/* Smooth scroll for in-page anchors */
html {
  scroll-behavior: smooth;
}
